<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @blog.date %>
  </p>

  <div class="btn teal lighten-4">
    <%= link_to 'Edit', edit_blog_path(@blog) %>
  </div>
  <div class="btn teal lighten-4">
    <%= link_to 'Back', blogs_path %>
  </div>
</div>  